{:paths   ["resources" "src/cljc"]
 :deps    {com.fulcrologic/fulcro {:mvn/version "3.2.11"
                                   :exclusions  [cljsjs/react
                                                 cljsjs/react-dom
                                                 cljsjs/react-dom-server
                                                 org.clojure/clojurescript]}
           edn-query-language/eql {:mvn/version "1.0.0"}
           com.taoensso/timbre    {:mvn/version "4.10.0"}
           org.clojure/core.async {:mvn/version "1.2.603"}}
 :aliases {:backend   {:extra-paths ["src/clj"]
                       :extra-deps  {com.wsscode/pathom        {:mvn/version "2.2.31"}
                                     com.cognitect/transit-clj {:mvn/version "1.0.324"}
                                     ring/ring-core            {:mvn/version "1.8.1"}
                                     ring/ring-jetty-adapter   {:mvn/version "1.8.1"}
                                     ring/ring-defaults        {:mvn/version "0.3.2"}
                                     bk/ring-gzip              {:mvn/version "0.3.0"}
                                     com.auth0/java-jwt        {:mvn/version "3.10.3"}
                                     com.auth0/jwks-rsa        {:mvn/version "0.12.0"}
                                     integrant                 {:mvn/version "0.8.0"}
                                     seancorfield/next.jdbc    {:mvn/version "1.1.547"}
                                     honeysql                  {:mvn/version "1.0.444"}
                                     nilenso/honeysql-postgres {:mvn/version "0.2.6"}
                                     org.postgresql/postgresql {:mvn/version "42.2.14"}
                                     hikari-cp                 {:mvn/version "2.12.0"}
                                     aero                      {:mvn/version "1.1.6"}}}
           :frontend  {:extra-paths ["src/cljs"]
                       :extra-deps  {org.clojure/clojurescript           {:mvn/version "1.10.773"}
                                     com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.1"}
                                     com.cognitect/transit-cljs          {:mvn/version "0.8.264"}
                                     com.wsscode/async                   {:mvn/version "1.0.10"}
                                     clj-commons/pushy                   {:mvn/version "0.3.10"}
                                     thheller/shadow-cljs                {:mvn/version "2.10.13"}}}
           :dev       {:extra-paths ["dev"]
                       :jvm-opts    ["-Dtrace"]
                       :extra-deps  {binaryage/devtools {:mvn/version "1.0.2"}
                                     integrant/repl     {:mvn/version "0.3.1"}}}
           :test      {:extra-paths ["test"]
                       :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}}
           :run-tests {:main-opts ["-m" "cognitect.test-runner"]}
           :migrate   {:paths     ["migrate" "migrations"]
                       :deps      {org.flywaydb/flyway-core  {:mvn/version "6.5.0"}
                                   org.postgresql/postgresql {:mvn/version "42.2.14"}}
                       :main-opts ["-m" "rocks.mygiftlist.migrate"]}
           :uberjar   {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                       :main-opts  ["-m" "hf.depstar.uberjar"
                                    "target/mygiftlistrocks.jar"]}
           :outdated  {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
                       :main-opts  ["-m" "depot.outdated.main"]}}}
