{:database-spec {:username      #or [#env POSTGRES_USER "postgres"]
                 :password      #or [#env POSTGRES_PASSWORD "password"]
                 :server-name   #or [#env POSTGRES_HOSTNAME "localhost"]
                 :port-number   #long #profile {:dev  15432
                                                :test 15433
                                                :prod #env POSTGRES_PORT}
                 :database-name #or [#env POSTGRES_DB "postgres"]
                 :sslmode       #or [#env POSTGRES_SSLMODE "disable"]}
 :port          #long #profile {:dev  3000
                                :test 3001
                                :prod #env PORT}}
