{:rocks.mygiftlist.config/config
 {:rocks.mygiftlist.config/profile :prod}

 :rocks.mygiftlist.db/pool
 {:rocks.mygiftlist.config/config #ig/ref :rocks.mygiftlist.config/config}

 :rocks.mygiftlist.parser/parser
 {:rocks.mygiftlist.db/pool #ig/ref :rocks.mygiftlist.db/pool}

 :rocks.mygiftlist.server/server
 {:rocks.mygiftlist.parser/parser #ig/ref :rocks.mygiftlist.parser/parser
  :rocks.mygiftlist.config/config #ig/ref :rocks.mygiftlist.config/config}}
